		body{
			font-family:sans-serif;
			background-color: white;
			height: 100%;
			padding: 0;
		}


        #n1-p, #n2-p, #n3-p, #n4-p, #n5-p, #n6-p, #n7-p, #n8-p, #n9-p, #n10-p, #n11-p, #n12-p, #n13-p, #n14-p, #n15-p, #n16-p, #n17-p, #n18-p, #n19-p, #n20-p, #n21-p, #n22-p{
            fill:  lightskyblue;
            stroke: blue;
	    	stroke-width:1px;
        }


	    .axis{
	    	font-size: 10;
	    	stroke-opacity:0.2;
	    	-webkit-touch-callout: none;
		    -webkit-user-select: none;
		    -khtml-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
	    }

		.domain{
			fill:none;
			stroke:#000;
		}
		.tick line{
			stroke:#000;
		}

		.in-line{
			stroke:#000;
			stroke-width:1;
			stroke-dasharray:5, 5;
		}

		.out-line{
			stroke:#000;
			stroke-width:1;
		}


		#mrange, #nrange {
			width: 25%
		}

		.container {
			padding-top: 5px;
		}

		.right{
			background-color: white;
		}

		.left{
			background-color: white;
		}


		.real-plane, .complex-plane, .complex-plane-result, .real-plane-result {
			background: rgba(0,0,0,0.025); 
			margin-top: 5px;
			margin-bottom: 5px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 65px;
		}

		input {
			width: 100% !important;
			margin-top: 15px;
		}

		#refresh, #update {
			margin-top: 10px;
		}