		body{
			font-family:sans-serif;
			background-color: white;
			height: 100%;
			padding: 0;
		}


        #n{
            fill:  orange;
            stroke: orangered;
	    	stroke-width:1px;
			opacity: 0.75;
        }


	    .axis{
	    	font-size: 10;
	    	stroke-opacity:0.2;
	    	-webkit-touch-callout: none;
		    -webkit-user-select: none;
		    -khtml-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
	    }

		.domain{
			fill:none;
			stroke:#000;
		}
		.tick line{
			stroke:#000;
		}

		#mrange, #nrange {
			width: 50%
		}

		.container {
			padding-top: 5px;
		}

		.screen {
			height: 100%;
			padding-top: 10%;
		}

		.fft-image {
			margin-top:50px;
			margin-bottom: 50px;
		}

		.right{
			background-color: white;
		}

		.left{
			background-color: white;
		}


		.real-plane, .complex-plane, .complex-plane-result, .real-plane-result {
			background: rgba(0,0,0,0.025); 
			margin-top: 5px;
			margin-bottom: 5px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 65px;
		}

		input {
			width: 100% !important;
			margin-top: 15px;
		}

		.links{
			margin-top: 10px;
		}

		.links a{
			color: lightgray;
		}

		.links a:hover{
			color: gray;
		}

		#refresh, #update, #updateTransform {
			margin-top: 10px;
			margin-bottom: 15px;
		}

		h1 {
			text-decoration: underline;
		}

		h5 {
			line-height: 25px !important;
			font-size: 16px !important;
		}

		a {
			color: orange;
		}
		a:hover {
			color: orangered;
		}

